<section class="about">

  <div class="about-left">

    <div class="cards-wrapper">

      <div class="card card-1">
        <img class="card-bg" src="assets/imgs/about_me/1.png" alt="">
        <div class="card-info">
          <img class="card-icon" src="assets/imgs/about_me/location_icon.png" alt="">
          <p>Based in Munich</p>
        </div>
      </div>
      <div class="card card-2">
        <img class="card-bg" src="assets/imgs/about_me/2.png" alt="">
        <div class="card-info">
          <img class="card-icon" src="assets/imgs/about_me/way_icon.png" alt="">
          <p>Open to relocate</p>
        </div>
      </div>
      <div class="card card-3">
        <img class="card-bg" src="assets/imgs/about_me/3.png" alt="">
        <div class="card-info">
          <img class="card-icon" src="assets/imgs/about_me/remote_icon.png" alt="">
          <p>Open to work remote</p>
        </div>
      </div>
    </div>
  </div>


  <div class="about-right">
    <p>Wer bin ich?</p>
    <h2>Rechte Seite</h2>
      <app-animated-line [imageSrc]="'assets/imgs/about_me/line.png'"></app-animated-line>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Porro neque, fugiat libero,
      omnis voluptas dolore obcaecati deleniti perspiciatis
      officiis quod enim at eaque in beatae sit maxime ullam
      dolorem blanditiis.</p>
    <button class="lets-talk">lets-talk</button>
  </div>


</section>