<section class="skill-section">
    <div class="skill-head">
        <div class="skill-title">
            <p>MY STACK</p>
            <div class="line">
                <h2>Skill set</h2>
                <app-animated-line [imageSrc]="'assets/imgs/Hand_drawn_lines/Skills/color.png'"></app-animated-line>
            </div>
        </div>
        <div class="skill-description">
            <img class="skill-description-background" src="assets/imgs/Ripped_Paper/Skills_description.png" alt="">
            <p>A short introduction of your skills. Highlight your experience of using
                different front-end technologies and emphasise your openness to learning and
                adapting to new technologies. </p>
        </div>
    </div>
    <div class="margin">
        <div class="skills-grid">
            <div class="skill-item" *ngFor="let skill of skills">
                <img [src]="'assets/imgs/skills/icons/' + skill.id + '.png'" [alt]="skill.label">
                <p>{{ skill.label }}</p>
            </div>
        </div>
    </div>

    <div class="sticker" (click)="onPeel()">

        <div *ngIf="peelState === 'closed'" class="sticker-content-closed">
            <img *ngIf="peelState === 'closed'" src="assets/imgs/Stickers/01_Skills/color/A.png" alt="">
            <img class="arrow" src="./../../../../assets/imgs/Stickers/arrow.png" alt="">
            <p>Pull to peel</p>
        </div>
        <img *ngIf="peelState === 'half'" src="assets/imgs/Stickers/01_Skills/color/B.png" alt="">


        <div *ngIf="peelState === 'open'" class="sticker-content-open">
            <img class="sticker-bg" src="assets/imgs/Stickers/01_Skills/color/C.png" alt="">

            <div class="sticker-open-content">
                <p>Also, I'm interested in diving into:</p>
                <div class="sticker-icons">
                    <div class="sticker-icon-item">
                        <img src="./../../../../assets/imgs/skills/icons/react.png" alt="React">
                        <span>React</span>
                    </div>
                    <div class="sticker-icon-item">
                        <img src="./../../../../assets/imgs/skills/icons/vue_js.png" alt="Vue.js">
                        <span>Vue.js</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>