<header>
  <nav class="navbar">

    <!-- Logo links 
    <div class="logo">
      <img 
        [src]="isHovered 
          ? './../../../../src/assets/imgs/navBar/logo_hover.png' 
          : './../../../../src/assets/imgs/navBar/logo.png'" 
        alt="Logo"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false" />
    </div>
-->
    <!-- Links mittig -->
    <ul class="nav-links">
    <li *ngFor="let link of navLinks">
  <a [routerLink]="link.route" (mouseenter)="hoveredLink = link.id" (mouseleave)="hoveredLink = null">
    <img class="link-normal" [src]="'assets/imgs/navBar/link_btn/' + link.id + '.png'" alt="" />
    <img 
      class="link-hover" 
      [src]="'assets/imgs/navBar/link_btn/' + link.id + '_hover.png'" 
      alt=""
      [class.visible]="hoveredLink === link.id" />
  </a>
</li>
    </ul>

    <!-- Sprach-Toggle rechts 
    <div class="lang-toggle">
      <img 
        [src]="lang === 'EN' 
          ? './../../../../src/assets/imgs/navBar/toggle_en.png' 
          : './../../../../src/assets/imgs/navBar/toggle_de.png'" 
        alt="Language Toggle"
        (click)="toggleLang()" />
    </div>
-->
<!--<img src="./../../../../src/assets/imgs/navBar/link_btn/contact.png" alt="">-->
  </nav>
</header>