header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  height: 80px;
}

.logo img {
  height: 40px;
  cursor: pointer;
}

ul.nav-links {
  display: flex;
}

.nav-links a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link-normal {
    display: block;
  }

  .link-hover {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;          
    overflow: hidden;
    transition: width 0.3s ease;

    &.visible {
      width: 100%; 
    }
  }
}

.lang-toggle img {
  height: 28px;
  cursor: pointer;
}

.lang-toggle {
  position: relative;
  display: inline-block;

  img:first-child {
    display: block;
    width: 120px;
  }

  .zone {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35%; 
    cursor: pointer;

    &.left-zone {
      left: 0;
    }

    &.right-zone {
      right: 0;
    }
  }

  .hover-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;

    &.visible {
      opacity: 1;
    }
  }
}