.hero-content {
  position: relative;
  height: 100vh;
  background-image: url("./../../../../assets/imgs/Backgrounds/orignal_size/hero_background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  color: white;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  line-height: 1;

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;
    transition: color 0.25s ease, transform 0.25s ease;
    will-change: transform;
  }


  &.developer {

    padding-left: calc(3 * 75px);
    margin-top: -16px;
  }
}

.char {
  display: inline-flex;
  width: 75px;           
  justify-content: center;
  align-items: center;
  transition:
    transform 0.25s ease,
    color 0.25s ease;
  will-change: transform;
  cursor: default;

  img {
    max-height: 70%;
    max-width: 100%;
    object-fit: contain;
    display: block;
  }
}

.active-char {
  color: #FFD700;
}