<div class="hero-content">
  <div class="hero-title-wrapper">

    <h1 class="hero-title" (mouseleave)="onLeave()">

      <span class="char" (mouseenter)="onHover('frontend', 0)" [style.transform]="getTransform('frontend', 0)">
        <img [src]="activeWord === 'frontend' && activeIndex === 0
            ? './../../../../assets/imgs/hero/f/f_small_yellow.png'
            : './../../../../assets/imgs/hero/f/F_big_white.png'" alt="F" />
      </span>

      <span *ngFor="let char of frontendChars; let i = index" class="char" (mouseenter)="onHover('frontend', i + 1)"
        [style.transform]="getTransform('frontend', i + 1)"
        [class.active-char]="activeWord === 'frontend' && activeIndex === i + 1">
        {{ getChar(char, 'frontend', i + 1) }}
      </span>

    </h1>

  
    <h1 class="hero-title developer" (mouseleave)="onLeave()">

      <span *ngFor="let char of developerChars; let i = index" class="char" (mouseenter)="onHover('developer', i)"
        [style.transform]="getTransform('developer', i)"
        [class.active-char]="activeWord === 'developer' && activeIndex === i">
       {{ getChar(char, 'developer', i) }}
      </span>

    </h1>

  </div>
</div>