.container {
    display: grid;
    grid-template-columns: repeat(2, 560px);
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.container>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-card {
    display: flex;
    flex-direction: column;

    .sticker {
        position: absolute;
        height: 168px;
        width: 168px;
    }
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 1180px) {

    .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .container>div,
    .project-card {
        width: 90%;
        height: auto;
    }
}