<section class="container">

    <div>
        <p>MY CRAFT</p>
        <div class="line">
            <h2>Projects</h2>
            <app-animated-line [imageSrc]="'assets/imgs/projects/projects_line.png'"></app-animated-line>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores quis debitis esse rerum nisi,
                reiciendis illum quam reprehenderit? Non voluptas rerum, pariatur quibusdam cumque totam in? Hic
                sapiente voluptas amet.</p>
        </div>
    </div>

    <div class="project-card" 
    [ngClass]="{'join-project': project.title === 'Join'}" 
    *ngFor="let project of projects">

        <div class="image-wrapper">
            <img src="{{ project.imageUrl }}" alt="{{ project.title }}">
        </div>

        <img class="sticker" *ngIf="project.imgExtra" src="{{ project.imgExtra }}" alt="">

    </div>
</section>


<!--
<img src="./../../../../assets/imgs/projects/full_sticker.png" alt="">
 <img src="./../../../../assets/imgs/projects/04_ Color option 2 - B.png" alt="">
 <img src="./../../../../assets/imgs/projects/05_ Color option 2 - C.png" alt="">
-->